{% extends "layout.html" %}

{% block pageTitle %}
	DWP Transformation Hub
{% endblock %}

{% block content %}

<main id="content" role="main">

	<h2 class="heading-large service-area">Leeds <span style="float:right;">People 187/242</span></h2>

	<p class="lede">This is a description of everything we do in Leeds...</p>

	<div class="grid-row">
		<section class="column-3-12">
			<p class="bold-xsmall">Discovery zones</p>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-1-12">
					<p class="bold-xsmall">Jan</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Feb</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Mar</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Apr</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">May</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Jun</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Jul</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Aug</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Sep</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Oct</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Nov</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Dec</p>
				</section>
			</div>
		</section>
	</div>

	<div class="grid-row">
		<section class="column-3-12">
			<ul class="link-list border-backlog">
				<li><a href="http://dwp-digital-services.herokuapp.com/projects/28/managed_migration">Managed migration</a></li>
			</ul>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-1-12">
					<div class="tag backlog">&nbsp;</div>
				</section>
				<section class="column-2-12">
					<div class="tag discovery">Discovery</div>
				</section>
				<section class="column-9-12">
					<div class="tag backlog">Available</div>
				</section>
			</div>
		</section>
	</div>

	<div class="grid-row">
		<section class="column-3-12">
			<ul class="link-list border-discovery">
				<li><a href="http://dwp-digital-services.herokuapp.com/projects/3/employment_support_allowance_esa">Employment Support Allowance (ESA)</a></li>
			</ul>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-2-12">
					<div class="tag discovery">Discovery</div>
				</section>
				<section class="column-10-12">
					<div class="tag backlog">Available</div>
				</section>
			</div>
		</section>
	</div>

	<div class="grid-row">
		<section class="column-3-12">
			<ul class="link-list border-backlog">
				<li>Space available</li>
			</ul>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-12-12">
					<div class="tag backlog">Available</div>
				</section>
			</div>
		</section>
	</div>

	<div class="grid-row">
		<section class="column-3-12">
			<ul class="link-list border-backlog">
				<li>Space available</li>
			</ul>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-12-12">
					<div class="tag backlog">Available</div>
				</section>
			</div>
		</section>
	</div>

<br>

	<div class="grid-row">
		<section class="column-3-12">
			<p class="bold-xsmall">Digital service areas</p>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-1-12">
					<p class="bold-xsmall">Jan</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Feb</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Mar</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Apr</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">May</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Jun</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Jul</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Aug</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Sep</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Oct</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Nov</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Dec</p>
				</section>
			</div>
		</section>
	</div>

	<div class="grid-row">
		<section class="column-3-12">
			<ul class="link-list border-alpha">
				<li><a href="http://dwp-digital-services.herokuapp.com/projects/12/universal_jobmatch">Universal Jobmatch replacement</a></li>
			</ul>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-3-12">
					<div class="tag alpha">Alpha</div>
				</section>
				<section class="column-9-12">
					<div class="tag backlog">Available</div>
				</section>
			</div>
		</section>
	</div>

	<div class="grid-row">
		<section class="column-3-12">
			<ul class="link-list border-alpha">
				<li><a href="http://dwp-digital-services.herokuapp.com/projects/3/employment_support_allowance_esa">Employment Support Allowance (ESA)</a></li>
			</ul>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-2-12">
					<div class="tag backlog">Available</div>
				</section>
				<section class="column-4-12">
					<div class="tag alpha">Alpha</div>
				</section>
				<section class="column-6-12">
					<div class="tag beta">Beta</div>
				</section>
			</div>
		</section>
	</div>

	<div class="grid-row">
		<section class="column-3-12">
			<ul class="link-list border-beta">
				<li>Small digital services</li>
			</ul>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-1-12">
					<div class="tag beta">&nbsp;</div>
				</section>
				<section class="column-11-12">
					<div class="tag backlog">Available</div>
				</section>
			</div>
		</section>
	</div>

	<div class="grid-row">
		<section class="column-3-12">
			<ul class="link-list border-beta">
				<li><a href="http://dwp-digital-services.herokuapp.com/projects/10/wider_use_of_rti">Wider use of RTI</a></li>
			</ul>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-1-12">
					<div class="tag beta">&nbsp;</div>
				</section>
				<section class="column-11-12">
					<div class="tag backlog">Available</div>
				</section>
			</div>
		</section>
	</div>

	<div class="grid-row">
		<section class="column-3-12">
			<ul class="link-list border-beta">
				<li><a href="http://dwp-digital-services.herokuapp.com/projects/18/secure_communications">Secure communications</a></li>
			</ul>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-12-12">
					<div class="tag beta">Beta</div>
				</section>
			</div>
		</section>
	</div>

	<div class="grid-row">
		<section class="column-3-12">
			<ul class="link-list border-beta">
				<li><a href="http://dwp-digital-services.herokuapp.com/projects/5/apply_for_an_access_to_work_grant">Apply for an Access to Work Grant</a></li>
			</ul>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-12-12">
					<div class="tag beta">Beta</div>
				</section>
			</div>
		</section>
	</div>

	<div class="grid-row">
		<section class="column-3-12">
			<ul class="link-list border-beta">
				<li><a href="http://dwp-digital-services.herokuapp.com/projects/14/jobseeker_services">Jobseeker services</a></li>
			</ul>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-3-12">
					<div class="tag beta">Beta</div>
				</section>
				<section class="column-9-12">
					<div class="tag live">Live</div>
				</section>
			</div>
		</section>
	</div>

	<div class="grid-row">
		<section class="column-3-12">
			<ul class="link-list border-beta">
				<li><a href="http://dwp-digital-services.herokuapp.com/projects/6/apply_for_personal_independence_payment">Apply for Personal Independence Payment</a></li>
			</ul>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-12-12">
					<div class="tag beta">Beta</div>
				</section>
			</div>
		</section>
	</div>

	<div class="grid-row">
		<section class="column-3-12">
			<ul class="link-list border-beta">
				<li><a href="http://dwp-digital-services.herokuapp.com/projects/9/repay_a_benefit_debt">Repay a benefit debt</a></li>
			</ul>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-1-12">
					<div class="tag beta">&nbsp;</div>
				</section>
				<section class="column-11-12">
					<div class="tag backlog">Available</div>
				</section>
			</div>
		</section>
	</div>

	<div class="grid-row">
		<section class="column-3-12">
			<ul class="link-list border-backlog">
				<li>Space available</li>
			</ul>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-4-12">
					<div class="tag"></div>
				</section>
				<section class="column-8-12">
					<div class="tag backlog">Available</div>
				</section>
			</div>
		</section>
	</div>

	<div class="grid-row">
		<section class="column-3-12">
			<ul class="link-list border-backlog">
				<li>Space available</li>
			</ul>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-4-12">
					<div class="tag"></div>
				</section>
				<section class="column-8-12">
					<div class="tag backlog">Available</div>
				</section>
			</div>
		</section>
	</div>

	<br>

	<div class="grid-row">
		<section class="column-3-12">
			<p class="bold-xsmall">Non-digital work</p>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-1-12">
					<p class="bold-xsmall">Jan</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Feb</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Mar</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Apr</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">May</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Jun</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Jul</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Aug</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Sep</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Oct</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Nov</p>
				</section>
				<section class="column-1-12">
					<p class="bold-xsmall">Dec</p>
				</section>
			</div>
		</section>
	</div>

	<div class="grid-row">
		<section class="column-3-12">
			<ul class="link-list border-alpha">
				<li><a href="http://dwp-digital-services.herokuapp.com/projects/11/digital_service_centre">Digital Service Centre</a></li>
			</ul>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-5-12">
					<div class="tag alpha">Alpha</div>
				</section>
				<section class="column-7-12">
					<div class="tag beta">Beta</div>
				</section>
			</div>
		</section>
	</div>

	<div class="grid-row">
		<section class="column-3-12">
			<ul class="link-list border-live">
				<li>Universal Jobmatch</li>
			</ul>
		</section>
		<section class="column-9-12">
			<div class="grid-row">
				<section class="column-12-12">
					<div class="tag live">Live</div>
				</section>
			</div>
		</section>
	</div>


	<!--

	<p style="margin-top:30px;">
		These are all the things we're doing
		{% if view != 'theme' %}(<a href="/">order by theme</a>){% endif %}
		{% if view != 'location' %}(<a href="/location/">order by location</a>){% endif %}
		{% if view != 'priority' %}(<a href="/priority/">order by priority</a>){% endif %}
	</p>

	<div class="grid-row">
		<section class="column-fifth">
			<div class="tag backlog">Backlog</div>
			<div class="big_number txt-backlog">{{ counts.backlog }}</div>
		</section>
		<section class="column-fifth">
			<div class="tag discovery">Discovery</div>
			<div class="big_number txt-discovery">{{ counts.discovery }}</div>
		</section>
		<section class="column-fifth">
			<div class="tag alpha">Alpha</div>
			<div class="big_number txt-alpha">{{ counts.alpha }}</div>
		</section>
		<section class="column-fifth">
			<div class="tag beta">Beta</div>
			<div class="big_number txt-beta">{{ counts.beta }}</div>
		</section>
		<section class="column-fifth">
			<div class="tag live">Live</div>
			<div class="big_number txt-live">{{ counts.live }}</div>
		</section>
	</div>

	{#
		theme_order & phase_order are set in routes.js
		so them can be used in multiple pages.
	#}

	{% for name in theme_order %}

		{% set item = data[name] %}
		<h2 class="heading-large service-area">{{ name }}</h2>

		{% if view == 'priority' %}
		<p>{{ priority_descriptions[name] }}</p>
		{% endif %}

		<div class="grid-row">
		{% for phase in phase_order %}

			<section class="column-fifth">
			{% if item[phase] %}

				<ul class="link-list border-{{phase}}">
				{% for bit in item[phase]['user'] %}
					<li><a href="/projects/{{ bit.id }}/{{ bit.name | slugify }}">{{ bit.name }}</a></li>
				{% endfor %}
				</ul>

				<ul class="link-list border-internal">
				{% for bit in item[phase]['internal'] %}
					<li><a href="/projects/{{ bit.id }}/{{ bit.name | slugify }}">{{ bit.name }}</a></li>
				{% endfor %}
				</ul>

			{% else %}&nbsp;{% endif %}
			</section>

		{% endfor %}
		</div>

	{% endfor %}

	<p style="margin-top: 100px">Last updated 21 Dec 2015. <a href="/about">About the digital portfolio</a><p>

	-->

</main>

{% endblock %}
